.monster {   
    border: 4px solid hsl(45, 50%, 40%);
    background-image: repeating-linear-gradient(36deg in oklab, hsl(55, 70%, 50%),  hsl(55, 70%, 60%) 5px);
}

.magic {
    border: 4px solid hsl(128, 100%, 20%);
    background-image: repeating-linear-gradient(36deg in oklab, hsl(128, 100%, 40%), hsl(128, 100%, 30%) 5px);
}

.ritual {
    border: 4px solid hsl(216, 100%, 40%);
    background-image: repeating-linear-gradient(36deg in oklab, hsl(216, 100%, 50%), hsl(216, 100%, 60%) 5px);
}

.trap {
    border: 4px solid hsl(330, 100%, 30%);
    background-image: repeating-linear-gradient(36deg in oklab, hsl(330, 75%, 40%), hsl(330, 75%, 50%) 5px);
}